
/* Wrapper Settings */
.wrapper{
    height: 100%;
    width: 100%;
}
/* Header */
.intro{
    height: 100vh;
    width: 100%;
    background-image: url(../img/beach.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100% ;
    color: #926239;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    padding-top: 350px;
}
.welcome{
    text-transform: capitalize;   
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.intro_info{
    font-size: 1.25rem;
    margin-bottom: 20px;
}
.read_more_link{
    display: block;
    height: 52px;
    width: 140px;
    border:1px solid #000000;
    border-radius: 10px;
    text-align: center;
    padding-top: 16px;
    font-size: 18px;
    text-transform: capitalize;
    color: inherit;
    margin-left: calc(50% - 70px);
    transition: 0.3s all linear;
}
.read_more_link:hover{
    border:1px solid #0c0a09;
    box-shadow:inset 1px 1px 0.5px #46403b;
    background-color: #c49b75;
    color: #ffff;
    height: 52px;
    width: 160px;
    margin-left: calc(50% - 80px);
}
/*Main Part*/
.main_info{
    color:#ffff;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: #926239;
    text-align: center;
}
.main_info section{
    padding: 20px;
}
.section_wrapper{
    display: flex;

}
.text_2{
    background-color: #f4f4f4;
    color:#926239
}
.text_3_element_2{
    background-color: #ffff;
    color:#926239
}
@media screen and (max-width: 376px) {
    .section_wrapper{
        flex-direction: column;
    }
}
